<!DOCTYPE html>
<html>
  <head>
    <title>Berecki könyvtár</title>
    <link rel="stylesheet" href="/styles/common.css" />
    <link rel="stylesheet" href="/styles/book.css" />

    <meta id="uid" name="uid" content="<%= (!!locals.uid) ? uid : '' %>" />
    <meta
      id="blank"
      name="blank"
      content=<%=(!!locals.blank) ? blank : false %>
    />
    <meta
      id="sts"
      name="sts"
      content=<%=(!!locals.status) ? status : false %>
    />
    <meta
      id="message"
      name="message"
      content="<%=(!!locals.message) ? message : false %>"
    />
  </head>
  <body>
    <div class="fixed_header">
      <div class="fixed_header_left">
        <img class="fixed_header_image" src="/styles/static/CIMER.png" />
      </div>
      <div class="fixed_header_center">
        <h1 class="fixed_header_title">Berecki könyvtár</h1>
      </div>
    </div>

    <div class="enable_div" id="disable_div"></div>

    <div class="book_form_container">
      <div class="book_form_div">
        <img src="<%=(!!locals.pic && pic!="") ? "/"+pic :
        "/styles/static/default_book.png" %>" id="book_thumbnail"
        class="book_thumbnail">

        <% if (!locals.blank) { %>       
          <div class="book_form_div">
            <h3 id="action_title" class="action_title"></h3>
            <div class="book_actions">
              <button class="general_button" id="status_btn">
                <img class="general_button_icon" src="/styles/static/broken.svg" />
              </button>
            </div>
    
            <form
              id="action_details"
              class="action_details"
              hidden
              >
              <input type="text" id="action_notes" name="action_notes" placeholder="Megjegyzes" />
              <div class="book_actions">
                <button type="button" id="submit_action" class="general_button">
                  <img src="/styles/static/ok.svg" class="general_button_icon" />
                </button>
                <button type="button" id="cancel_action" class="general_button">
                  <img src="/styles/static/x.svg" class="general_button_icon" />
                </button>
              </div>
            </form>
          </div>
          <% } %>
      </div>

      <form 
        action=<%= (!!locals.uid) ? "/user/"+ uid : "/user" %>
        method="POST" class="book_form_div" enctype="multipart/form-data" >
        <div id="title" class="book_form_line">
          <h2>Felhasznalo</h2>
        </div>

        <% if (locals.useradmin == 1) { %>
        <div class="book_form_line">
          <label for="admin">Admin ?</label>
          <input
            type="checkbox"
            id="admin"
            name="admin"
            <%= (!!locals.admin) ? "checked" : "" %>
          />
        </div>
        <% } %>

        <input type="hidden" id="id" name="id" 
        value="<%= (!!locals.uid) ? uid :"" %>" />

        <div class="book_form_line">
          <label for="name">Nev</label>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Teljes Nev"
            value="<%= (!!locals.name) ? name :"" %>"
            required
          />
        </div>

        <div class="book_form_line">
          <label for="email">e-mail</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="your@email.please"
            value="<%=(!!locals.email) ? email : "" %>"
            required
          />
        </div>

        <div class="book_form_line">
          <label for="password">Jelszo</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Jelszó"
            <%= (!!locals.uid) ? "" :"required" %>
          />
        </div>

        <div class="book_form_line">
          <label for="confirm_password">Jelszo ujra</label>
          <input
            type="password"
            id="confirm_password"
            name="confirm_password"
            placeholder="Jelszó ujra"
            <%= (!!locals.uid) ? "" :"required" %>
          />
        </div>

        <div class="book_form_line">
          <label for="address">Cim</label>
          <input
            type="text"
            id="address"
            name="address"
            placeholder="Cim"
            value="<%=(!!locals.address) ? address : "" %>"
            required
          />
        </div>

        <div class="book_form_line">
          <label for="phone">Tel</label>
          <input
            type="tel"
            id="phone"
            name="phone"
            placeholder="0123456789"
            value="<%=(!!locals.phone) ? phone : "" %>"
            required
          />
        </div>

        <div class="book_form_line">
          <label for="occupancy">Foglalkozas</label>
          <input
            type="text"
            id="occupancy"
            name="occupancy"
            placeholder="Fogalkozas"
            value="<%=(!!locals.occupancy) ? occupancy : "" %>"
            required
          />
        </div>

        <div class="book_form_line">
          <label for="birth_date">Szuletesi ev</label>
          <input 
            type="date" 
            id="birth_date" 
            name="birth_date" 
            value="<%=(!!locals.birth_date) ? birth_date : "" %>" 
            required />
        </div>

        <div class="book_form_line">
          <label for="notes">Megjegyes</label>
          <input type="text" id="notes" name="notes" placeholder="Init" />
        </div>

        <div class="book_form_line">
          <label for="image">Kep feltoltese</label>
          <input type="file" id="image" name="image" accept="image/*" />
        </div>

        <div class="book_form_line">
          <button
            onclick="window.location.href='/user/login'"
            type="button"
            class="general_button"
          >
            <img src="/styles/static/user.svg" id="register" />
          </button>

          <button type="submit" class="general_button">
            <img src="/styles/static/ok.svg" id="login" />
          </button>
        </div>
      </form>
    </div>

    <div id="user_xt" class="book_xt">
      <div id="user_notes" class="book_notes"></div>
      <div id="user_loan" class="book_loan"></div>
    </div>

    <div id="global_status" class="global_status"></div>

    <div class="version" id="version"></div>
  </body>

  <script type="module" src="/scripts/user.js"></script>
</html>
